# Rust Build Artifacts
debug/
target/
**/*.rs.bk

# Data Files
*.csv
*.parquet
*.feather
*.tbl

# IDE Files
.idea/
.vscode/
*.suo
*.user
*.rsuser 

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Temporary Files            
*.tmp              
*.bak              
*.orig